@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <img class="img-fluid" src="~/Imagens/acesso negado.png" alt="acesso negado"/>
</header>
