@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.OngApoiadorViewModel>
@{
}
<div class="py-5">

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row m-lg-3">
                <!--foreach recursos-->
                <div class="card shadow-sm">
                    @item.Ong.NomeFantasia

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>