@model IEnumerable<EGGY_TCC_IDENTITY.ViewModels.OngApoiadorViewModel>
@{
}
<div class="py-5">

    <div class="container home-item3">
        @foreach (var item in Model)
        {
            <div class="row m-lg-3" style="width: 250px; height: 100px;">
                <!--foreach recursos-->
                <div class="card shadow-sm">
                    @item.Ong.NomeFantasia

                    <div class="card-body">
                         @item.Apoidor.DE_NOME
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Ongs" asp-action="Details" asp-route-id="@item.ID_ONG" class="btn btn-info">Visualizar</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>