@{
    ViewData["Title"] = "Quem Somos";
}
<section class="sobre" id="Everson">

    <div id="item-1">
        <img class="img-about" src="~/Imagens/everson.jpg" alt="Everson Menezes" />
        <p>
            Profissional com experiência de mais de 15 anos em empresas de pequeno, médio e grande porte nas áreas de serviços elétricos, construção civil, metalúrgica e tecnologia da informação. Estou sempre em busca de conhecimentos que me possibilitem expandir minhas áreas de atuação. Sou auto motivado e fascinado por tecnologias, atualmente estudante de informática para negócios na Fatec-SBC e Trainee de Sistemas na empresa Thomas Greg & Sons.
        </p>
    </div>
    <div id="item-2">
        <img class="img-about" src="" alt="Geovanna Balduino" />
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>
    <div id="item-3">
        <img class="img-about" src="" alt="Guilherme dos Santos" />
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>
    <div id="item-4">
        <img class="img-about" src="" alt="Yuri Gonçalves" />
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>

</section>
