<header>
    <h1 style="margin-top: 4%;" class="text-danger">Você não possui as permissões para acessar esta área!</h1>
    <br />
    <img class="img-fluid" src="~/Imagens/acesso negado.png" alt="acesso negado" style="margin-top: 20%; display:flex; align-content:center; align-items:center;"/>
</header>
